#postsContainer img {
  width: 50%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3/4;
}

#postsContainer:hover img {
  background-color: #ffffffb9;
  z-index: 100;
}

#postsContainer {
  margin-top: 30px;
  display: flex;
  row-gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-container a {
  display: contents;
}

.post-container h1 {
  font-size: 15px;
}

#loadMoreBtn {
  background-color: #9bbac1;
  color: black;
  padding: 10px 25px;
  font-size: 16px;
  font-family: "Poppins";
  border: 0;
  display: flex;

  align-items: center;
}

#loadMoreBtn:hover {
  background: #688389;
  box-shadow: 5px 6px 1px 2px #9bbac1;
  color: white;
}

.blog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  #postsContainer img {
    width: 60%;
  }
}
